<!-----------------折叠-导航条---------------------------->
<js href="__PUBLIC__/Jquery/jquery-1.7.2.js"/>
<div  class="naver-main">
	<div  class="layout">
		
		<div  class="category"  id="category-block">
			
			<div  class="h"  id="category-h">
				<h2>全部商品</h2>
				<i  class="icon-category"  id="category-icon"></i>
			</div>
			<div class="b" id="category-list">
				<ul>
					<li>
						<h3><a href="#"><span>大家电</span></a></h3>
							<a href="<{:U('Search/index',array('keywords'=>'空调'))}>"><span>空调</span></a>
							<a href="<{:U('Search/index',array('keywords'=>'冰箱'))}>"><span>冰箱</span></a>
							<a href="<{:U('Search/index',array('keywords'=>'电视'))}>"><span>平板电视</span></a>
							<a href="<{:U('Search/index',array('keywords'=>'洗衣机'))}>"><span>洗衣机</span></a>
					</li>
					<li class="odd">
						<h3><a href="#"><span>生活电器</span></a></h3>
						<a href="#"><span>电风扇</span></a>
						<a href="#"><span>净化器</span></a>
						<a href="#"><span>扫地机</span></a>
					</li>
					<li>
						<h3><a href="#"><span>厨房电器</span></a></h3>
						<a href="#"><span>电饭煲</span></a>
						<a href="#"><span>电磁炉</span></a>
						<a href="#"><span>微波炉</span></a>
					</li>
					<li class="odd">
						<h3><a href="#" target="_blank"><span>五金家装</span></a></h3>
						<a href="#" target="_blank"><span>电动工具</span></a>
						<a href="#" target="_blank"><span>LED灯</span></a>
					</li>
				</ul>
			</div>

		</div>
<script type="text/javascript">
   $(function(){
       $.ajax({
	      'url':"<{:U('Category/index')}>",
		  'type':'GET',
		  'success':function(responseText,status,xhr){
		     if(status=='success'){
			     $("#category-list").find('ul').html(responseText);
				 $("#category-list ul li:odd").addClass('odd');
			 }else{
			     window.location.reload();
			 }
		  
		  }
	   
	   
	   
	   
	   });
   
   
   
   
   
   });
</script>	
		 <!-------------导航条---------------->
		<nav  class="naver">
				<ul  id="naver-list">
			<li  id="index"><a  href="<{:U('Index/index')}>"  class="current"><span>首 页
					</span></a>
					</li>
		<li  id="nav-sale"><a  href="<{:U('Search/index',array('keywords'=>'格力空调'))}>"  target="_blank"><span>格力空调
			<s><img  src="__PUBLIC__/Images/new.png"  alt="new"></s>
		</span></a> </li>
					
		<li  id="club"><a   href="<{:U('Search/index',array('keywords'=>'海尔冰箱'))}>" ><span>海尔冰箱
					</span></a> </li>
		<li  class=""><a  href="javascript:return false;"><span>精彩频道</span></a>
			
		</li>
</ul>
		</nav><!-- 20160516-导航-end -->
	</div>
</div>
<!-------------导航条---------------->
<script>
    
	$(function () {
		$('#naver-list li').hover(function () {
			$(this).addClass('hover');
		},function () {
			$(this).removeClass('hover');
		});
	});
	
	
</script>
			
		</nav>
	</div>
</div>
<script>
(function () {
	//所有分类显示隐藏控制
	var isIndex =  false,
		categoryBlock = gid('category-block');
		
	if(isIndex) return;

	categoryBlock.onmouseover = function () {
		categoryBlock.className = 'category category-hove';
	};
	categoryBlock.onmouseout = function () {
		categoryBlock.className = 'category';
	};
	
}());
$(function () {
	//分类间隔背景色
	$('#category-list li:odd').addClass('odd');
	$('#category-list li a').click(function () {
		setTimeout(function () {
			var id = location.hash.split("#", 2)[1];
			if(id)return ec.product.showCategory(gid('pro-cate-'+ id) , id);
		}, 200);
		
	});
});
</script>
<script>
(function(){
	var n = $("#nav-1");
	n.children("a").addClass("current");
	n.siblings().children("a").removeClass("current");
})();
</script>